:root {
    font-size: 10px;
    --mint-cream: #f1fffaff;
    --tea-green: #ccfccbff;
    --tea-green-clear: #ccfccb69;
    --celadon: #96e6b3ff;
    --fern-green: #568259ff;
    --outer-space: #464e47ff;
    color: var(--outer-space);
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--mint-cream);
}

body {
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--celadon);
}

h1 {
    font-size: 4em;
    text-align: center;
    margin: 0;
}

.app-bar {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--celadon);
    height: 8dvh;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 100dvw;
    border-top: 0.2rem solid var(--fern-green);
}

.app-bar > div {
    flex: 0 1 20rem;
    text-align: center;
    font-size: 2em;
}

.main-content {
    display: grid;
    margin: 0 auto;
    width: min(1000px, 95dvw);
    grid-template-rows: 6dvh;
    grid-auto-rows: 6dvh;
    padding: 1em;
    gap: 0.5em;
}

.to-do {
    display: grid;
    padding: .6rem .3rem;
    background-color: var(--tea-green-clear);
    border: 0.2rem solid var(--tea-green);
    border-radius: 0.5rem;
    grid-template: 1fr / 1fr 2fr 4fr 2fr  1fr;
}

.to-do > .title {
    font-size: 1.6em;
    font-weight: 600;
}

.to-do > .description {
    font-size: 1.2em;
    margin: 0;
}

.to-do > .due-date, .priority {
    font-size: 1.2em;
}