:root {
    font-size: 10px;
    --mint-cream: #f1fffaff;
    --tea-green: #ccfccbff;
    --tea-green-clear: #ccfccb69;
    --celadon: #96e6b3ff;
    --fern-green: #568259ff;
    --outer-space: #464e47ff;
    color: var(--outer-space);
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--mint-cream);
}

body {
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--celadon);
    border-bottom: 4px solid var(--outer-space);
}

h1 {
    font-size: 4em;
    text-align: center;
    margin: 0;
}

.app-bar {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--celadon);
    height: 8dvh;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 100dvw;
    border-top: 0.2rem solid var(--fern-green);
}

.app-bar > div {
    flex: 0 1 20rem;
    text-align: center;
    font-size: 2em;
}

.main-content {
    display: grid;
    margin: 0 auto;
    max-width: 700px;
    padding: 1em;
    gap: 1.5em;
}

.todos-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.to-do {
    display: grid;
    padding: .6rem .3rem;
    background-color: var(--tea-green-clear);
    border: 0.2rem solid var(--tea-green);
    border-radius: 0.5rem;
    min-height: 80px;
    grid-template: 1fr / 1fr 2fr 4fr 2fr  1fr 48px;
    gap: 0.75rem;
    align-items: center;
    box-shadow: 2px 2px 0px 5px var(--outer-space);
}

.to-do > .status {
    height: 2rem;
}

.to-do > .title {
    font-size: 2em;
    font-weight: 600;
}

.to-do > .description {
    font-size: 1.5em;
    margin: 0;
}

.to-do > .due-date, .priority {
    font-size: 1.5em;
}

.button {
    width: 100px;
    height: min(25px, 8dvh);
    background-color: var(--fern-green);
    color: var(--mint-cream);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-to-do {
    font-weight: 600;
    font-size: large;
    padding: 0.75rem;
    cursor: pointer;
}

.form-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: #464e47dd;
    backdrop-filter: blur(4px);
}

.modal {
    position: relative;
    background-color: var(--celadon);
    margin: auto auto;
    padding: 0.2rem 1rem;
    width: min(400px, 90%);
    height: min(600px, 90%);
    z-index: 2
}

.modal form {
    display: flex;
    flex-direction: column;
    z-index: 3;
}

@media (max-width: 700px){
    .to-do {
        padding: 1rem;
    }

    .to-do > .status {
        grid-row: 1 / 2;
    }

    .to-do > .title {
        grid-column: 2 / span 5;
        align-self: center;
        text-align: center;
    }
    
    .to-do > .description {
        grid-column: 1 / span 6;
        padding: 1rem;
    }

    .to-do > .due-date {
        grid-column: 1 / span 2;
    }

    .to-do > .priority {
        grid-column: 4 / span 2;
    }

    .to-do > .img {
        grid-column: 6 / span 1;
    }
}
